@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: rgb(29, 29, 29);
    --color: rgb(243, 243, 243);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    color: var(--color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    min-width: 100vw;
    min-height: 100vh;
    font-size: 1.125em;
}

.container {
    height: 600px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

#main {
    width: 15em;
    /* margin-bottom: 1em; */
    display: flex;
    flex-flow: column;
    align-items: center;
    /* padding: 3em 0; */
    /* border: 1px solid white; */
}

#main div {
    width: 100%;
    /* border: 1px solid red; */
    padding: .25em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#main div label {
    text-transform: capitalize;
}

#main div input {
    width: 4em;
    transition: width 250ms;
}

#main div input:focus-visible {
    width: 4.5em;
}

.error {
    outline: 3px solid red;
}

.total {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 1.5em;
}

button {
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 6px 10px;
    /* margin-top: 2em; */
}

.footnote {
    opacity: .3;
    font-size: 11px;
    font-style: italic;
}

@media(min-height: 600px) {
    .container {
        height: 100vh;
        margin: 0;
    }
}